.Button {
    padding: 15px;
    color: black;
    border: 2px dotted yellowgreen;
}

.Person {
 width: 60%;
  padding: 16px;
  background-color: #eee;
  border: 1px solid black;
  margin: 10px auto;
  text-align: center;
}


