.Person {
    width: 60%;
    padding: 16px;
    background-color: #eee;
    border: 1px solid black;
    margin: 10px auto;
    text-align: center;
}

.input {
    color: #123412;
    text-align: center;
    background:lightcyan;
    border: 1px solid blue;
}